<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        #logout-link, #register-link, #add-review-btn{
          color: #dc3545;
          text-decoration: none;
        }
  
        #register-link{
          color: #28a745;
        }
  
        #logout-link:hover, #register-link:hover, #add-review-btn:hover{
          color: white;
        }

        #add-review-btn{
          color: #28a745;
        }
      </style>
      <script>
        function closeModal(){
          document.getElementById("error-modal").style.display = "none";
        }
      </script>
</head>
    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/djangoapp/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/djangoapp/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/djangoapp/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/djangoapp/contact">Contact Us</a>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <div class="my-2 my-lg-0">
            <span>{{user.username}}</span>
            <button class="btn btn-outline-danger my-2 my-sm-0"><a href="/djangoapp/logout" id="logout-link">Logout</a></button>
          </div>
          {% else %}
          <form class="form-inline my-2 my-lg-0" method="post" action="/djangoapp/login">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="username" name="username" placeholder="Username" aria-label="Username">
            <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" aria-label="Password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            <button class="btn btn-outline-success my-2 my-sm-0"><a href="/djangoapp/register" id="register-link">Register</a></button>
          </form>
          {% endif %}
        </div>
      </nav>
      {% if Error %}
        <div class="modal" tabindex="-1" id="error-modal" role="dialog" style="display: block; background-color: rgba(1,1,1,0.5);">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Error</h5>
              </div>
              <div class="modal-body">
                <p>{{Error}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    <!-- Add reviews as cards -->
    {% if reviews %}
    <div class="card-columns">
      {% for r in reviews %}
      <div class="col-md">
        <div class="card bg-light m-3 text-left col">
          <div class="card-header">
            <img src="{{MEDIA_URL}}/emoji/{{r.sentiment}}.png" class="card-img-left" style="height:40px;display:inline-block;">
          </div>
          <div class="card-body">
            {% if r.car_make %}
              <h5 class="card-title">{{r.car_make}}, {{r.car_model}}</h5>
              <h5>{{r.car_year}}</h5>
            {% else %}
              <h5 class="card-title">Review</h5>
              <h5></h5>
            {% endif %}
            <p class="card-text">{{r.review}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
      <h1>No reviews for this dealership</h1>
    {% endif %}
    {% if user.is_authenticated %}
      <div style="margin-left:1%;">
        <button type="button" class="btn btn-outline-success">
          <a href="/djangoapp/dealer/{{dealer_id}}/add_review/" id="add-review-btn">Add a review</a>
        </button>
      </div>
    {% endif %}
    </body>

</html>